### Unity Git Ignore ###
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
ProjectSettings/EditorBuildSettings.asset
Assets/AssetStoreTools*
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.apk
*.aab
.DS_Store
*.vs/
.vscode/
.idea/